<div class="sidebar-container">
  <div class="logo-container">
    <img
      *ngIf="expanded"
      src="../../../../../assets/images/logo-dark.png"
      alt="InfluMatch"
      class="logo"
    />
    <img
      *ngIf="!expanded"
      src="../../../../../assets/images/logo-dark.png"
      alt="InfluMatch"
      class="logo-icon"
    />

    <button mat-icon-button class="toggle-btn" (click)="onToggleSidebar()">
      <mat-icon>{{ expanded ? "chevron_left" : "chevron_right" }}</mat-icon>
    </button>
  </div>

  <div class="user-info" *ngIf="user">
    <div class="avatar" [ngClass]="{ small: !expanded }">
      {{ user.name.charAt(0).toUpperCase() }}
    </div>
    <div class="user-details" *ngIf="expanded">
      <div class="user-name">{{ user.name || "Usuario" }}</div>
      <div class="user-role">{{ user.user_type || "-" }}</div>
    </div>
  </div>

  <mat-nav-list class="nav-list">
    <a
      mat-list-item
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: !!item.exact }"
      [matTooltip]="!expanded ? (item.label | translate) : ''"
      [matTooltipPosition]="'right'"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle *ngIf="expanded">{{
        item.label | translate
      }}</span>
    </a>
  </mat-nav-list>

  <div class="sidebar-footer">
    <button
      mat-button
      class="logout-btn"
      (click)="onLogout()"
      [ngClass]="{ 'icon-only': !expanded }"
    >
      <mat-icon>exit_to_app</mat-icon>
      <span *ngIf="expanded">{{ "DASHBOARD.LOGOUT" | translate }}</span>
    </button>
  </div>
</div>
