<div class="dashboard-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [mode]="'side'" [opened]="true" [ngClass]="{'expanded': sidebarExpanded, 'collapsed': !sidebarExpanded}">
      <app-sidebar 
        [expanded]="sidebarExpanded" 
        [user]="currentUser"
        (toggleSidebar)="toggleSidebar()"
        (logout)="logout()">
      </app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <app-header 
        [sidebarExpanded]="sidebarExpanded" 
        (toggleSidebar)="toggleSidebar()">
      </app-header>
      
      <main class="dashboard-content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
