/* src/app/features/landing/components/presentation/landing/landing.component.scss */
:host {
  display: block;
  background: var(--light-blue); // fondo día por defecto
  color: var(--primary, 900);

  &.dark-mode {
    background: var(--dark-blue);
    color: var(--white);
  }
}

.landing-main {
  max-width: 1200px;
  margin: 0 auto;
}
